<%- include("partials/header.ejs") %>
<div class="heading1">
  <p>Welcome To ToDo List</p>
</div>

<% items.forEach((item, index) => { %>
  <div class="box">
  <div class="item">
    <form action="/complete" method="POST">
      <label class="list-group-item d-flex">
        <input type="hidden" name="itemIndex" value="<%= index %>">    
        <input class="form-check-input"  type="checkbox" style="font-size: 1.375em;" onchange="this.form.submit()" <%= item.completed ? 'checked' : '' %> name="checkbox">   
    </form>
    <p style="margin-bottom: 0px;margin-top: 8px;" class="<%= item.completed ? 'strikethrough' : '' %>" style="margin-bottom: 0px;"></style><%= item.text %></p>
</label>
  </div>
  </div>
<% }); %>

<form action="/submit" method="POST">
  <div class="box">
  <input class="form1" type="text" name="newItem" placeholder="Write your Mind" autocomplete="off">
  <button type="submit" name="list" class="button">+</button>
  </div>
</form>

<%- include("partials/footer.ejs") %>
